*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  padding: 0px 50px; 
  
}

.search-div{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  text-align: center;     
  padding: 5px; 
        
}
input[type="search"]{
  width: 30vw;    
  height: 35px;
  border-radius: 20px;      
  outline: none;
  padding-left: 10px; 
  border: 1px solid #ccc;  
}
.search-div button{
  padding: 8px 15px ;
  border-radius: 20px;
  border: none;
  background-color: green;
  color: white;
  font-weight: bold;    
} 

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc; 
 
}
.deleteBtn{    
  color: black;
  padding: 3px;
  font-weight: bold;  
  padding: 4px 7px;
  margin-left: 8px;
  border-radius: 3px;
  border: 1px solid #ccc; 
}
.editBtn{
  color: white;
  padding: 4px 7px ;
  font-weight: bold;
  border-radius: 3px;
  background-color: green;  

}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  text-align: center;
}
td:hover{
  box-shadow: 3px 3px 10px gray;
}


th {
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: black;
}

.icon {
  margin-left: 10px;
  cursor: pointer;
}
.pagination-container{
  display: flex;
  justify-content: center; 
  padding-top: 20px;
}
.pagination{
  display: flex;   
  list-style-type: none;
}
.pagination button{
  margin: 0px 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-weight: bold;
}

.pagination button.active{
  background-color: green; 
  color: white;
  transform: scale(1.3);

}